main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}

[job_status] {
    padding: 10px;
    border: 1px solid #aaaaaa;
    position: relative;
    width: 40%;
    padding-top: 30px;
}

.specific_location {
    display: flex;
    width: 100%;
    border: 1px solid;
    margin-top: 4px;
}

.location_name {
    width: 20%;
    border-right: 1px solid;
}

.location_name>span {
    padding: 7px 25px;
    display: block;
}

[job_status]:after {
    content: var(--text);
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    opacity: 0.6;
    padding-inline: 8px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-bottom-left-radius: 10px;
    background: var(--background-color);
}

.job_assign>span {
    border: 2px solid #6263ff;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 20px;
    cursor: grab;
}

[job_status=unassigned] {
    --text: 'unassigned';
    --background-color: pink;
}

[job_status=assigned] {
    --text: 'assigned';
    --background-color: greenyellow;
}